body {
  background-color: #051f18;
  overflow-x: hidden;
}

header {
  position: relative;
  overflow: visible;
  z-index: 999;
}

main {
  overflow: visible;
  z-index: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  text-align: right;
  overflow: visible;
}

.banner {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #85ab90;
}

.name {
  padding-left: 1rem;
  overflow: visible;
}

.name a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 500;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.name a:hover {
  color: #4dff88;
}

.right_header {
  display: flex;
}

.language {
  color: #85ab90;
  position: relative;
  overflow: visible;
  font-size: 0.85rem;
  font-family: "Readex Pro", sans-serif;
  font-weight: 200;
  margin-right: 0.5rem;
  background-color: #051f18;
}

.dropbtn {
  background: #051f18;
  color: #85ab90;
  font-size: 0.85rem;
  font-family: "Readex Pro", sans-serif;
  font-weight: 200;
  border: none;
  width: 6.4rem;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 1001;
}

.dropbtn:hover {
  background: #ffffff;
  color: #051f18;
  transition: all 1.5s ease;
}

.selector {
  display: none;
  position: absolute;
  z-index: 3000;
  top: 100%;
  right: 0.1rem;
  width: 6.4rem;
  background-color: #051f18;
  border-radius: 1.2rem;
  overflow: visible;
}

.selector a {
  color: #85ab90;
  text-decoration: none;
  text-align: center;
  font-size: 0.85rem;
  font-family: "Readex Pro", sans-serif;
  font-weight: 200;
  background-color: #051f18;
  padding: 0.2rem 0.4rem;
  margin-top: 0.4rem;
  width: relative;
  border-radius: 1.2rem;
  z-index: 30;
  display: block;
}

.selector a:hover {
  color: #051f18;
  background-color: #ffffff;
  transition: all 0.5s ease;
}

.language:hover .selector {
  display: block;
}

.korean {
  font-size: 0.75rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.lang a:hover {
  color: #aaaaaa;
}

button {
  background: #ffffff;
  color: #051f18;
  font-size: 16px;
  font-family: "Readex Pro", sans-serif;
  border: none;
  padding: 2px 10px;
  /* border-radius: 12px;*/
}

button:hover {
  background: #4dff88;
  transition: all 0.5s ease;
}

a linkedin {
  color: #4dff88;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 1.75rem;
  color: #fff7dc;
  margin: auto;
  padding-bottom: 1.25rem;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: #051f18;
  letter-spacing: -0.5px;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #051f18;
}

.Work ul,
.Academic ul,
.Education ul {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  color: #fff7dc;
  margin: auto;
  padding: 1rem;
  position: relative;
  justify-content: center;
  width: 50vw;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1),
    -10px -10px 10px rgba(0, 0, 0, 0.1);
}

.Work ul li,
.Academic ul li,
.Education ul li {
  padding: 5px;
  display: grid;
  grid-template-columns: 27% 2% 71%;
  border-left: 4px solid var(--accent-color);
  flex-direction: column;
}

.cv-date {
  color: #85ab90;
}

.cv-title {
  font-weight: 700;
  color: #ffffff;
  margin-left: 10px;
  margin-bottom: 5px;
}

.cv-loc {
  color: #ffffff;
  margin-bottom: 8px;
  margin-left: 10px;
}

.cv-descr {
  color: #ffffff;
  font-weight: 200;
  margin-bottom: 30px;
  margin-left: 10px;
}

.locname {
  font-size: 0.8rem;
  font-weight: 200;
  font-style: italic;
  color: #9f9f9f;
}

.cv-middle {
  position: relative;
  background: #85ab90;
  top: 2px;
  width: 2px;
  height: 130%;
}

.cv-middle-last {
  position: relative;
  background: rgb(0, 0, 0, 0);
  width: 2px;
}

.cv-circle {
  position: absolute;
  left: 50%;
  background: #85ab90;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  transform: translateX(-50%);
}

.cv-circle-non {
  position: absolute;
  left: 50%;
  background: #9f9f9f;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  transform: translateX(-50%);
}

.cv-non-prof {
  color: #9f9f9f;
}

.Skills h1 {
  position: relative;
  margin-top: 1rem;
  left: 25%;
}

.Skills-top {
  background: #fff7dc;
  padding: 1.5rem;
  margin: auto;
  position: relative;
  width: 42.5vw;
  align-content: center;
}

.Skills-top ul {
  font-family: "Outfit", sans-serif;
  text-align: left;
  margin: auto;
  padding: 1rem;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.Skills-top ul li {
  padding: 0.3rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.circle-full {
  border-radius: 50%;
  height: 0.6rem;
  width: 0.6rem;
  background: #051f18;
  display: inline-block;
  margin-right: 0.8rem;
}

.circle-empty {
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
  background: #fff7dc;
  border: 0.05rem solid #051f18;
  display: inline-block;
  margin-right: 0.8rem;
}

.Skills-bottom {
  background: #fff7dc;
  padding: 1.5rem;
  margin: auto;
  position: relative;
  justify-content: center;
  width: 42.5vw;
}

.Skills-bottom img {
  width: 2.5rem;
}

.Skills-bottom ul {
  font-family: "Outfit", sans-serif;
  text-align: center;
  margin: auto;
  padding: 1rem;
  position: relative;
  align-content: space-around;
  align-items: baseline;
  justify-content: center;
  width: 90%;
}

.Skills-bottom ul li {
  padding: 0.4rem;
  display: grid;
  grid-template-columns: 7rem 7rem 7rem 7rem;
  border-left: 4px solid var(--accent-color);
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .Skills-bottom ul li {
    grid-template-columns: repeat(2, 7rem); /* 2 columns for medium screens */
  }

  .Work ul,
  .Academic ul,
  .Education ul {
    width: 90vw;
    margin: auto;
  }

  .Work ul li,
  .Academic ul li,
  .Education ul li {
    padding: 0.2rem;
    display: grid;
    grid-template-columns: 28% 2% 70%;
    border-left: 4px solid var(--accent-color);
    flex-direction: column;
  }

  .Skills-top,
  .Skills-bottom {
    width: 85vw;
    margin: auto;
  }

  .cv-middle {
    height: 120%;
  }
}

@media (max-width: 480px) {
  nav {
    display: block;
    padding: 1rem;
  }

  .my_name {
    text-align: left;
    left: 0;
    padding-bottom: 1rem;
  }

  .right_header {
    display: block;
    right: 0;
    padding: 0;
  }

  .name a {
    display: block;
    margin-right: 0rem;
  }

  .language {
    margin-right: 0rem;
  }

  .dropbtn {
    border: 0.05rem solid;
    border-color: #ffffff;
  }

  body {
    overflow-x: hidden;
  }

  .Skills-bottom ul li {
    grid-template-columns: repeat(2, 10rem);
  }

  .Work ul,
  .Academic ul,
  .Education ul {
    width: 85vw;
    margin: auto;
  }

  .Work ul li,
  .Academic ul li,
  .Education ul li {
    padding: 0.2rem;
    display: grid;
    grid-template-columns: 28% 2% 70%;
    border-left: 4px solid var(--accent-color);
    flex-direction: column;
  }

  .Skills h1 {
    position: relative;
    left: 10%;
  }

  .Skills-top,
  .Skills-bottom {
    width: 80vw;
    margin: auto;
  }

  .cv-middle {
    height: 120%;
  }
}
